.header {
	padding: 70rpx 0;
	font-size: 28rpx;
	line-height: 48rpx;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: Microsoft YaHei UI;
}

.title {
	color: #D02129;
	font-weight: bold;
	font-size: 52rpx;
	line-height: 66rpx;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 60rpx;
}

.uni-input {
	height: 72rpx;
	border: 2rpx solid rgba(0, 0, 0, 0.1);
	outline: none;
	border-radius: 200rpx;
	padding: 16rpx 30rpx;
	box-sizing: border-box;
	font-size: 24rpx;
	text-align: center;
}

.avatar-container {
	padding: 50rpx 0;
}

.avatar-notice {
	line-height: 56rpx;
	font-size: 28rpx;
}

.avatar-notice-info {
	padding-left: 20rpx;
	color: #D02129;
}

.avatar-box {
	height: 600rpx;
	display: flex;
	flex-wrap: wrap;
}

.avatar-box-item {
	height: 140rpx;
	width: 140rpx;
	box-sizing: border-box;
	margin: 8rpx;
}

.avatar-box-item image {
	height: 124rpx;
	width: 124rpx;
	background-color: #F0AD4E;
	border-radius: 35px;
}

.avatar-box .active {
	border: 8rpx solid red;
	box-sizing: border-box;
	border-radius: 129rpx;
}

.avatar-box .active image {
	border: 8rpx solid #fff;
	box-sizing: border-box;
}

.room-container {
	height: 370rpx;
}

.room-title {
	font-size: 30rpx;
	line-height: 38rpx;
}

.room-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.room-box-item {
	width: 288rpx;
	height: 90rpx;
	line-height: 90rpx;
	text-align: center;
	box-sizing: border-box;
	background-color: #D02129;
	border-radius: 100rpx;
	color: #fff;
	margin-top: 32rpx;
	font-size: 26rpx;
}

.input-notice {
	border: 2rpx solid #D02129;
}

::-webkit-input-placeholder {
	color: #D02129;
}

/* 内容样式 */
.u-card-wrap {
	background-color: $u-bg-color;
	padding: 2rpx;
}

.u-body-item {
	font-size: 32rpx;
	color: #333;
	padding: 20rpx 10rpx;
}

.u-body-item image {
	width: 120rpx;
	display: flex;
	align-items: center;
	flex: 0 0 120rpx;
	height: 120rpx;
	border-radius: 8rpx;
	margin-left: 12rpx;
}

.u-body-item-title {
	position: relative;
	line-height: 1.5;
}

.consult-tittop {
	color: orange;
	margin-right: 10rpx;
}

.consult-label {
	position: absolute;
	right: 30rpx;
	bottom: 1rpx;
	color: #2B85E4;
	text-decoration: underline
}
